# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HIS\his_java_mini\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
